/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, iframe,
h1, h3, p, a, em, img, small, strike, strong, b, u, i, center, ul, li, fieldset, form, label, table, tr, th, td, article, footer, header {
	margin: 16px;
	padding: 6px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
ul, li {
	list-style: none;
}
/* End of Style Reset */

html {
	display: flex;
	justify-content: center;
}

body, header {
	margin-top: 0;
	padding-top: 0;
}

html, #title-wrapper, #team-container, .members img, footer a {
	margin: 0;
	padding: 0;
}

#team-builder, #how-to p, #pokemon-list li {
	margin: 0;
}

/* html, body, header, #poke-logo, #title-wrapper, #team-builder, .members, .members img, .members p, form, #pokemon-list li, #profile img, #display-name, #profile span, #profile p, footer, footer p, footer a  {
	border: none;
} */

#how-to p, #pokemon-list, #filter-search {
	border: 1px solid #444;
	border-radius: 3px;
}

#team-container , .members, .members img, .members p, #profile, #profile-wrapper{
	border-radius: 3px;
}

#pokemon-list, #profile-wrapper, .members {
	background-color: #333;
}

body {
	width: 1020px;
	font-family: 'Noto Sans', 'Ariel', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	line-height: 1.6;
	color:antiquewhite;
	background-color: #222;
}

/* HEADER */
header {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

#poke-logo {
	height: 125px;
}

#title-wrapper {
	position: relative;
	background: rgb(55,99,174);
	background: linear-gradient(180deg, rgba(55,99,174,1) 47%, rgba(34,44,95,1) 49%);
	padding: 6px;
	border-radius: 5px;
}

#team-builder {
	width: fit-content;
	padding: 3px 18px;
	color: #fff;
	font-size: 1.5em;
	font-weight: 900;
	-webkit-text-stroke: #a80d12;
	-webkit-text-stroke-width: 1px;
	background: rgb(239,27,36);
	background: linear-gradient(180deg, rgba(239,27,36,1) 47%, rgba(169,14,19,1) 49%);
	box-shadow: inset 0 0 4px #222c5f;
}

/* TEAM */
#team {
	padding: 0;
	display: flex;
	flex-flow: column nowrap;
}

#team-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background-color: #2a75bb;
	/* border: 8px outset #3c5aa6;; */
}

.members {
	padding: 7px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.members img {
	height: 120px;
	width: 120px;
	background-color: snow;
}

.members p {
	width: 120px;
	margin: -3px 0 0 0;
	padding: 0 0 3px 0;
	background-color: snow;
	color: #222;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}

/* DIRECTIONS */
#how-to {
	margin: 6px 0 0 0;
	padding: 23px 23px 0 23px;
}

#how-to p {
	padding: 20px;
	line-height: 2;
    letter-spacing: 0.15px;
}

/* FILTER/ SEARCH/ RESULTS */
#selector {
	width: 226px;
	margin-left: 6px;
	display: inline-block
}

#filter-search {
	margin-bottom: 0;
	border: 1px solid #444;
	/* border-radius: 3px; */
}

form {
	margin: 8px 0 0 0;
	padding: 0 0 6px 0;
	display: flex;
	flex-flow: row nowrap;
}

#filter {
	width: 110px;
}

#search {
	width: 110px;
}

#pokemon-list {
	height: 627px;
	overflow-y: auto;
	scrollbar-color: #c7a008 #333;
	--scrollbar-width-legacy: 0.5rem;
	scrollbar-width: thin;
}

#pokemon-list li {
	padding: 0 0 4px 0;
	text-transform: capitalize;
	font-size: small;
	letter-spacing: 0.05rem;
}


/* PROFILE */
#profile {
	margin: 16px 0 0 5px;
	width: 74%;
	height: 730px;
	background: rgb(247,225,116);
	background: linear-gradient(90deg, rgba(247,225,116,1) 41%, rgba(246,211,43,1) 100%);
	display: inline-block;
	vertical-align: top;
}

#profile-wrapper {
	height: 680px;
	display: flex;
	flex-flow: column nowrap;
}

#profile img {
	max-height: 300px;
}

hgroup {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

#display-name {
	max-width: 370px;
	margin: 0 5px 0 15px;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 5px;
}

#profile span {
	width: 15%;
	margin: 0 0 4px 0;
	font-size: larger;
}

#profile p {
	margin: 0 16px 0 16px;
	font-size: medium;
}

table, tr, td {
	font-size: 16px;
	/* border: none; */
}

table {
	width: 75%;
	border-collapse: collapse;
	border-spacing: 0;
}

.column {
	width: 25%;
}

/* FOOTER */
footer {
	margin-bottom: 0;
	font-size: smaller;
}

footer p {
	margin-bottom: 0;
	text-align: center;
}

footer a {
	text-decoration: none;
	color:  #30A7D7;
	cursor: pointer;
}

footer a:hover {
	color: #ffcb05;
}

/* pulling hex values 
pokemon dk blue
	color: #3c5aa6;
pokemon yellow shadow
	color: #c7a008;
pokemon lt blue
	color: #2a75bb;
pokemon yellow
	color: #ffcb05;
*/